img {
  width: 50px;
}
#face {
  width: 400px;
}
#nose1{
    width: 130px;
    position: absolut;
    left: 50%;
    top: 240px;
    float: left;
    
  }
  /* 
  #mouth2{
    width: 130px;
    float: left;
    position: absolut;
    left: 13%;
    top: 320px;
    
  }
  #eyes2{
    width: 150px;
    position: absolut;
    float: left;
    left: 13%;
    top: 145px;
   
  }
#hair2{  
    width: 140px;
    float: left;
    position: absolut;
    left: 13%;
    top: 300px;
    }
  #hat{
    width: 220px;
    float: left;
    position: absolut;
    left: 10%;
    top: 0px;
    ;
  }
  #ears2{ 
    float: left;
    width: 410px;
    position: absolut;
    left: 0%;
    top: 130px;
    z-index: 2;} */
